.training-row {
    margin: 3px 0;
    padding: 5px 0;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 2px solid oklch(0.9 0.15 80);
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.1s ease;
}

.training-row:hover {
    background-color: oklch(0.9 0.02 80);
    color: oklch(0.3 0.00001 80);
}

.training-header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 8px 0;
    position: relative;
}

.training-exercises {
    margin: 4px 0;
}

.exercise-box {
    color: black;
    border-radius: 4px;
    background-color: oklch(0.9 0.15 80);
    padding: 4px 8px;
    margin: 8px;
}

.copy-box {
    display: flex;
    width: 32px;
    height: 32px;
    justify-content: center;
    align-items: center;
    border: 2px solid oklch(0.9 0.15 80);
    border-radius: 4px;
}

.copy-box:hover {
    background-color: oklch(0.3 0.00001 80);
    color:  oklch(0.9 0.15 80);
}

span {
    margin: 0 12px;
}

.text-box:last-of-type{
    position: absolute;
    right: 0px;
    display: flex;
}

.delete-box {
    font-size: 36px;
    color:  oklch(0.9 0.15 80);
    display: flex;
    justify-content: center;
    align-items: center;
}

.delete-box:hover {
    background-color: oklch(0.3 0.00001 80);
    border-radius: 4px;
    color: oklch(0.7 0.25 30);
    cursor: pointer;
}

.training-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.add-training {
    display: flex;
    --t:3px;   /* Thickness */
    --l:30px;  /* size of the symbol */
    --s:6px;  /* space around the symbol */
    --c1: rgb(48, 48, 48); /* Plus color*/
    --c2:salmon; /* background color*/

    width:var(--l);
    height:var(--l);
    padding:var(--s);
    box-sizing:border-box;
    border-radius: 50%; 
    
    background:
        linear-gradient(var(--c1) 0 0) content-box,
        linear-gradient(var(--c1) 0 0) content-box,
        var(--c2);
    background-position:center;
    background-size: 100% var(--t),var(--t) 100%;
    background-repeat:no-repeat;
    align-self: center;
    justify-self: center;
}

.pseudo-link {
    cursor: pointer;
}