.table-container {
    display: flex;
    justify-self: center;
}

.table {
    display: block;
    overflow: hidden;
    table-layout: fixed;
    border-collapse: collapse;
    box-shadow: 0px 10px 10px red;
    border-radius: 10px;
    white-space: preserve nowrap;
}

.table thead {
    background-color: orange;
    color: black;
}

.table th,
.table td {
    padding: 1rem;
}

.table th:first-child {
    background-color: gold;
}

.table td:first-child {
    background-color:violet;
}

.table td {
    border-top: 0.5px solid green;
    overflow: hidden;
    text-overflow: ellipsis;
}

.table tbody tr:nth-child(n+1):hover {
    background-color: darkseagreen;
}

.expand { 
    display: block;
    width: 100%;
}

.label {
    border-radius: 3px;
    padding: 0.3rem;
    color:skyblue;
}

.label-draft {
    background-color: grey;
}

.label-live {
    background-color: chartreuse;
}

.label-error {
    background-color: red;
}

.actions {
    cursor: pointer;
}

.delete-btn {
    color: darkred;
}

.table tbody tr:last-child td {
    background-color: blue;
    cursor: pointer;
}

.table tbody tr:last-child td:hover {
    background-color: darkred;
}

.add {
    display: flex;
    --t:3px;   /* Thickness */
    --l:30px;  /* size of the symbol */
    --s:6px;  /* space around the symbol */
    --c1: rgb(48, 48, 48); /* Plus color*/
    --c2:salmon; /* background color*/

    width:var(--l);
    height:var(--l);
    padding:var(--s);
    box-sizing:border-box;
    border-radius: 50%; 
    
    background:
        linear-gradient(var(--c1) 0 0) content-box,
        linear-gradient(var(--c1) 0 0) content-box,
        var(--c2);
    background-position:center;
    background-size: 100% var(--t),var(--t) 100%;
    background-repeat:no-repeat;
    align-self: center;
    justify-self: center;
}